$col-black: #111111;
$col-black-m: #212121;
$col-white: #fff;
$col-orange: #cb450c;
$col-boulder: #777777;
$col-gray: #6f6f6f;
$font-SFProText: "SF Pro Display", sans-serif;
$gradient: linear-gradient(90deg, rgba(233, 227, 198, 0.5) 0%, rgba(233, 198, 217, 0.5) 100%);
